%h1 Code Sample

%p
  Here is an example of the code written to build this project. Specifically this code is used to convert the supplied xml field names to rails naming conventions.

%p
  I included it here not because it is intended to be the most efficient use of the ruby and rails api's - its included to indicate that the sparkly parts of ruby such as iterators, closures, blocks, the yield statement as well as sound "don't repeat yourself (DRY)" design principles are being used to deliver this data to you.

= render :partial => "sample"
