%h1 Code Verification
%p
  Every line of ruby code is covered by some part of the testing process Statement Coverage=100%.

=image_tag("/assets/testing_screen_shot.png", :alt => "Testing")

%p
  In this case we didn't do what we consider an extreme level of testing, however data load and calculation were checked by sampling player data and comparing it to two public sources of batting stats for the player. This test is executed as part of automated rspec regression tests.

%p
  We use metrics like state space coverage, parameter space coverage and property based testing (from erlang) for projects that require high reliability as a key business objective.

%p
  Regardless of current reliability outcomes, we're also committed to continuous improvement so that both the code quality and organizational capabilities improve over time. We use Test Driven Development, Behavior Driven Development, Rspec, code metrics and agile methods wherever appropriate.


